/*
   git add --all
   git commit -m 'comentario del commit'
   git push -u origin master
*/
/*** PERFIL ***/
.text_change_pass2{
	float:left;
	margin-left:9%;
	font-size:19px;
}
.text_change_pass1{
	float:left;
	margin-left:16%;
	font-size:19px;
}
.text_change_pass{
	float:left;
	margin-left:20%;
	font-size:19px;
}
.rest_contra{
	margin-left: 10% !important;
	width: 80% !important;
}
.rest_contra_change{
	position: absolute;
	top:-15% !important;
	height: 350px;
}

.input_pass_change{
	float:left;
	margin-left:16%;
	font-size:19px;
}
.input_pass_change1{
	float:left;
	margin-left:14%;
	font-size:19px;
}
#btn-edit-save{
	margin-top: 30px;
}
.edit-title-form{
	float: left;
}

#uploadFile{
	margin-top: 15px;
	width: 172px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin-top: 15px;
}
.fav_pdf{
	margin-top: 0px !important;
	width: 109px;
	height: 30px;
	position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.password-edit a{
	margin-top: 5px;
	float: right;
	font-size: 11px !important;
}
#img_perfil_edit{
	width: 160px;
	position: relative;
	margin-left: 30%;
	padding-top: 25px !important;
}
#cerrar_cuadro_edita{
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
#muestra_edicion{
	color: blue;
}
#img_edita{
	max-width: 130px;
	max-height: 130px;
}
#cerrar_cuadro_edita:hover,
#muestra_edicion:hover{
	cursor: pointer;
}
#edita_perfil_box{
	text-align: center;
	border: 1px solid #A4A4A4;
	display: none;
	z-index: 20;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 200px;
	margin-bottom: -800px;
	width: 400px;
	height: 500px;
	background-color: #F2F2F2;
	-moz-border-radius:5px;
	-webkit-border-radius:6px;
	border-radius:6px;
}
#section-cronicas-mobil{
	display: none;
}
.perfil-header{
	margin-top: 200px;
	margin-bottom: 30px;
}
.perfil-sub-header{
	background-color: #F4F4F4;
}
.perfil-sub-header p{
	padding-top: 20px;
	padding-left: 20px;
}
.perfil-body{
	margin-left: 20px;
	float: left;
}
#perfil-right{
	margin-top: -20px;
}
#perfil_mobil{
	display: none;
}
/*** END PERFIL ***/
#catalogo-maestro{
	width: 100%;
}
#img-catalogo{
	position: relative;
	top: 50px !important;
	height: 500px;
	margin-bottom: 80px;
	background-image: url(../img/logo-cenetec.jpg);
	background-position: center;
	cursor: pointer;
	/*-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
}
.hiper-practicas:hover, 
.hiper-practicas:visited, 
.hiper-practicas:active{
	text-decoration: none;
}
nav{
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,.2);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,.2);
}
.btn-red{
	position: relative;
	margin-top: -30px;
	margin-bottom: 30px;
	margin-left: -15px;
	width: 160px;
	height: 7px;
	background-color: red;
}
.btn-orange{
	position: relative;
	margin-top: -30px;
	margin-bottom: 30px;
	margin-left: -15px;
	width: 160px;
	height: 7px;
	background-color: #ff7f00;
}
.btn-purple{
	position: relative;
	margin-top: -30px;
	margin-bottom: 30px;
	margin-left: -15px;
	width: 160px;
	height: 7px;
	background-color: #f80084;
}
.btn-blue{
	position: relative;
	margin-top: -30px;
	margin-bottom: 30px;
	margin-left: -15px;
	width: 160px;
	height: 7px;
	background-color: #0090d7;
}
/*** SLIDER ***/
.practicas-background-cat{
	position: absolute;
	top: 120px;
	background-color: #d9d9d9;
	width: 100%;
	height: 400px;
	border-bottom: #b9b9b9 !important;
}
.practicas-background{
	position: absolute;
	top: 560px;
	background-color: #d9d9d9;
	width: 100%;
	height: 500px;
	border-bottom: #b9b9b9 !important;
}
#slider-practicas-one{
	width: 100%;
	height: 400px;
	margin-bottom: 50px;
	margin-top: 10px;
	background-color: #d9d9d9;
	border-bottom: #b9b9b9 !important;
}
#slider-practicas-one img{
	max-width: 300px;
}
.img-slider{
	margin-left: 30px;
	height: 400px;
}
.txt-slider{
	height: 100px;
	font-size: 18px;
}
#slider-practicas-one ol{
	margin-top: 150px !important;
}
.btn-consulta{
	background-color: #DF01A5;
	color: #fff;
}
.btn-descarga{
	background-color: #2E2E2E;
	color: #fff;
}
.btn-consulta:hover{
	background-color: #FF00BF;
	color: #eee;
}
.btn-descarga:hover{
	background-color: #424242;
	color: #eee;
}
#carousel .item{
	padding-left: 300px;
}
.carousel-indicators .active{
	background-color: #2250C4 \9;
  	background-color: rgba(34, 80, 196, 1) !important;
  	border: 1px solid #2250C4 !important;
}
.carousel-indicators li {
	background-color: #bbb !important;
	border: 1px solid #bbb !important;
}
.txt-min-corousel{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 40px;
	width: 250px;
	margin-top: 25px;
}
.carousel-size{
	margin-top: -10px;
	height: 250px;
	width: 1000px;
}
.flecha-carousel{
	-webkit-transform: translateY(520%);
    -ms-transform: translateY(520%);
    transform: translateY(520%);
}
#next_btn5,
#next_btn1,
#next_btn3,
#next_btn4{
	right: 160px;
	width: 37px;
	height: 290px;
	margin-top: -10px;
	background-color: black;
	opacity: .6 !important;
}

#next_btn5:hover,
#next_btn1:hover,
#next_btn3:hover,
#next_btn4:hover{
	opacity: .7;
}
/*** END SLIDER ***/ 
/*** SLIDER MOVIL ***/ 
.slide-movil-practicas{
	height: 500px;
}
.title-txt-slide{
	font-size: 145%;
	font-weight: bold;
}
#vista-movil-practicas{
	display: none;
}
#item1,
#item2,
#item3{
	width: 100%;
	height: 400px;
}
#item1{
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#item2{
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#item3{
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.titulo-movil{
	text-align: center;
	font-size: 180%;
	-webkit-transform: translateY(15%);
    -ms-transform: translateY(15%);
    transform: translateY(15%);
}
.btn-consulta-movil-pdf{
	color: white;
	font-size: 120%; 
	margin-top: 50px;
	padding-bottom: 50px;
	height: 50px;
	width: 200px;
}
#titulo-movil1 p{
	padding-left: 60px;
	padding-right: 60px;
	color: red;
}
#titulo-movil2 p{
	padding-left: 60px;
	padding-right: 60px;
	color: #f70083;
}
#titulo-movil3 p{
	padding-left: 60px;
	padding-right: 60px;
	color: #FF8000;
}
#titulo-movil4 p{
	padding-left: 60px;
	padding-right: 60px;
	color: #0090d7;
}
#titulo-movil1 button{
	background-color: red;
}
#titulo-movil2 button{
	background-color: #f70083;
}
#titulo-movil3 button{
	background-color: #FF8000;
}
#titulo-movil4 button{
	background-color: #0090d7;
}
/*** END SLIDER MOVIL ***/ 
/*** BUSCADOR ***/ 
#busqueda{
	position: relative;
}
/*** END BUSCADOR ***/ 
/*** PDF ***/
.pdf_controls_components{
	margin-top:130px;
	z-index:1;
}
#btn_fav_elimina{
	display: none;
}
#portal-name-pdf{
	float: right;
	width: 165px;
	height: 100%;
	padding-right: 15px;
	padding-left: 5px;
	color: #fff;
	font-size: 20px;
	text-align: left;
	margin-top: 25px;
}
.controls{
	height: 50px;
	width: 100%;
	font-size: 17px;
	position: fixed;
	top: 80px;
	z-index: 109px;
	background-color: #EAE9E9;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.2);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,.2);
}
.controls p{
	max-width: 700px !important;
	-webkit-transform: translateY(80%);
    -ms-transform: translateY(80%);
    transform: translateY(80%);
}
/*** END PDF***/
/*** NAV PRACTICAS ***/
.btn-nav{
	width: 200px;
	height: 200px;
	text-align: center;
	cursor: pointer;
	transition: all .5s ease;
}
.center-vert{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.btn-nav:hover{
	box-shadow: 0px 5px 5px rgba(46,46,46,0.6);
	color: #fff;
}
#btn-nav-cron:hover{
	background-color:#ff1920;
}
#btn-nav-mate:hover{
	background-color:#f80084;
}
#btn-nav-nine:hover{
	background-color:#ff7f00;
}
#btn-nav-infe:hover{
	background-color:#0090d7;
}
.col-offset-10px{
	margin-left: 10px;
}
.col-per-offset{
	margin-left: 15%;
}
/**** END NAV PRACTICAS***/
/*** SUBSECCION ***/

.subseccion{
	border-left: -10px;
	margin-top: 75px;
	height: 290px;
	width: 100% !important;
	border-top: 1px solid #b9b9b9;
	border-bottom: 1px solid #b9b9b9;
}
.nombre-seccion{
	float: left;
	width: 288px;
	height: 288px;
	text-align: center;
	background-color: #F4F4F4;
	font-size: 18px;
	cursor: pointer;
	color: #444;
}
.nombre-seccion-mobil{
	margin-left: 5%;
	color: white;
	width: 90%;
	text-align: center;
	font-size: 18px;
	-webkit-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%);
}
#nom_cronicas-mobil{ 
	background-color: #f00007;
	height: 290px;
}
#nom_materna-mobil{           
	background-color: #f9339d;
	height: 290px;
}
#nom_ninez-mobil{
	background-color: #FF8B17;
	height: 290px;
}
#nom_infecciosas-mobil{
	background-color: #00a1f0;
	height: 290px;
}
#nom_cronicas:hover{
	background-color: #f00007;
}
.carousel-inner-cronicas .btn-consulta-pdf{
	opacity: 1 !important;
	border: 0px !important;
	background-color: red;
	-moz-border-radius:5px;
	-webkit-border-radius:6px;
	border-radius:6px;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	padding:9px 22px;
}
#nom_materna:hover{
	background-color: #f9339d;
}
.carousel-inner-materno .btn-consulta-pdf{
	border: 0px !important;
	background-color: #f70083;
	-moz-border-radius:5px;
	-webkit-border-radius:6px;
	border-radius:6px;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	padding:9px 22px;
}
#nom_ninez:hover{
	background-color: #FF8B17;
}
.carousel-inner-ninez .btn-consulta-pdf{
	border: 0px !important;
	background-color: #FF8000;
	-moz-border-radius:5px;
	-webkit-border-radius:6px;
	border-radius:6px;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	padding:9px 22px;
}
#nom_infecciosas:hover{
	background-color: #00a1f0;
}
.carousel-inner-infecciosas .btn-consulta-pdf{
	border: 0px !important;
	background-color: #1692d4;
	-moz-border-radius:5px;
	-webkit-border-radius:6px;
	border-radius:6px;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	padding:9px 22px;
}
#nom_cronicas:hover p{
	color: white;
}
#nom_materna:hover p{
	color: white;
}
#nom_ninez:hover p{
	color: white;
}
#nom_infecciosas:hover p{
	color: white;
}
.contenedor-pdfs{
	overflow: hidden;
	height: 288px !important;
	width: 850px;
	float: left;
	padding-left: 10px;
	height: 248px;
	background-color: #ddd;
	padding-top: 20px;
	text-align: center;
}
.pdf-prev,
.pdf-prev-mob{
	background-color: white;
	float: left;
	width: 196px;
	height: 250px !important;
	margin-top: 10px;
	margin-left: 10px;
	height: 210px;
	border: 1px solid #999;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
}

.img_carr_sec{
	position: relative;
	top: 110px;
	width: 60px;
}
.img-pdf-prev-car{
	width:280px !important; 
	margin-top: -20px;
	margin-left: -19px;
	height: 140px;
	border: 1px solid #c0c0c0;
	background-image: url(../img/noticia1.png);
	background-position: top center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.img-pdf-prev,
.img-pdf-prev-mob{
	margin-top: -13px;
	margin-left: -9px;
	width: 212px;
	height: 110px;
	border: 1px solid #c0c0c0;
	background-image: url(../img/noticia1.png);
	background-position: top center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.pdf-prev p,
.pdf-prev-mob p{
	background: white;
	margin-top: 10px;
}
/*** END SECCION A ***/

/***SECCION-CATALOGO***/
	/***MENU-LINE***/
	#menu-nom_cronicas{
		margin-top: 100px;
		margin-bottom: 30px;
		width: 100%;
		background-color: red;
		height: 50px;
		color: #fff;
	}
	#menu-nom_materna{
		margin-top: 100px;
		margin-bottom: 30px;
		width: 100%;
		background-color: #f70083;
		height: 50px;
		color: #fff;
	}
	#menu-nom_ninez{
		margin-top: 100px;
		margin-bottom: 30px;
		width: 100%;
		background-color: #FF8000;
		height: 50px;
		color: #fff;
	}
	#menu-nom_infecciosas{
		margin-top: 100px;
		margin-bottom: 30px;
		width: 100%;
		background-color: #1692d4;
		height: 50px;
		color: #fff;
	}
	#menu-cronicas,
	#menu-materna,
	#menu-ninez,
	#menu-infecciosas{
		float: right;
		margin-top: -20px;
		margin-right: 70px;
		margin-bottom: -260px;
		z-index: 3 !important;
		width: 200px;
		height: 150px;
		position: relative;
	}
	#menu-cronicas p{
		color: white;
		border: 1px solid;
		text-align: center;
		font-size: 15px;
		position: relative;
		margin-top: -10px;
		height: 70px;
		background-color: red;
	}
	#menu-materna p{
		color: white;
		border: 1px solid;
		text-align: center;
		font-size: 15px;
		position: relative;
		margin-top: -10px;
		height: 70px;
		background-color: #f70083;
	}
	#menu-ninez p{
		color: white;
		border: 1px solid;
		text-align: center;
		font-size: 15px;
		position: relative;
		margin-top: -10px;
		height: 70px;
		background-color: #FF8000;
	}
	#menu-infecciosas p{
		color: white;
		border: 1px solid;
		text-align: center;
		font-size: 15px;
		position: relative;
		margin-top: -10px;
		height: 70px;
		background-color: #1692d4;
	}
	#menu-cronicas .opt-1,
	#menu-materna .opt-1,
	#menu-ninez .opt-1,
	#menu-infecciosas .opt-1{
		position: relative;
		margin-top: -10px;
		display: none;
	    opacity: .8;
	    cursor: pointer;
	}
	#menu-cronicas .opt-2,
	#menu-materna .opt-2,
	#menu-ninez .opt-2,
	#menu-infecciosas .opt-2,
	#menu-cronicas .opt-3,
	#menu-materna .opt-3,
	#menu-ninez .opt-3,
	#menu-infecciosas .opt-3{
		position: relative;
		margin-top: -80px;
		display: none;
	    opacity: .8;
	    cursor: pointer;

	}
	#menu-cronicas .opt-1:hover,
	#menu-materna .opt-1:hover,
	#menu-ninez .opt-1:hover,
	#menu-infecciosas .opt-1:hover,
	#menu-cronicas .opt-2:hover,
	#menu-materna .opt-2:hover,
	#menu-ninez .opt-2:hover,
	#menu-infecciosas .opt-2:hover,
	#menu-cronicas .opt-3:hover,
	#menu-materna .opt-3:hover,
	#menu-ninez .opt-3:hover,
	#menu-infecciosas .opt-3:hover{
		opacity: 1;
	}
	#body_nom_cronicas{
		display: none;
	}
	#body_nom_materna{
		display: none;
	}
	#body_nom_ninez{
		display: none;
	}
	#body_nom_infecciosas{
		display: none;
	}

	.text-menu-line{
		padding-right: 10%;
		padding-left: 10%;
		-webkit-transform: translateY(80%);
	    -ms-transform: translateY(80%);
	    transform: translateY(80%);
	}
	.title-text-right{
		color: white;
		padding-right: 10px;
		float: right;	
		-webkit-transform: translateY(-140%);
	    -ms-transform: translateY(-140%);
	    transform: translateY(-140%);
	}
	/***END MENU-LINE***/
	/***CAT-SECTION***/

	#cat-section-cronicas,
	#cat-section-materna,
	#cat-section-ninez,
	#cat-section-infecciosas,
	#cat-section-cronicas-alfa,
	#cat-section-materna-alfa,
	#cat-section-ninez-alfa,
	#cat-section-infecciosas-alfa{
		text-align: center;
		margin-top: 20px;
		padding-top: 20px;
		padding-left: 120px;
		padding-bottom: 20px;
		background-color: #e7e7e7;
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
	#cat-section-cronicas-alfa,
	#cat-section-materna-alfa,
	#cat-section-ninez-alfa,
	#cat-section-infecciosas-alfa{
		display: none;
	}

	.btn-consulta-pdf,
	.btn-consulta-pdf-mob{
		position: relative;
		z-index: 1;
		left: 0px;
		margin-top: 105px;
	}

	.pdf-cat{
		overflow: hidden;
		background-color: white;
		margin-left: 30px !important;
		text-align: center;
		float: left;
		width: 220px;
		margin:10px;
		height: 255px;
		border: 1px solid #999;
		border-radius: 5px;
		cursor: pointer;
	}
	.pdf-para-carr{
		height: 80px;
		padding-left: 4px;
		padding-right: 4px;
		position: relative;
		-webkit-transform: translateY(40%);
	    -ms-transform: translateY(40%);
	    transform: translateY(40%);
	}
	.pdf-para-perfil{
		height: 65px;
		overflow: hidden;
		padding-left: 4px;
		padding-right: 4px;
		position: relative;
		top: -130px;
	}
	.pdf-para,
	.pdf-para-mob{
		height: 60px;
		overflow: hidden;
		padding-left: 4px;
		padding-right: 4px;
		position: relative;
		top: -130px;
	}
	.pdf-cat p{
		margin-top: 10px;
	}
	.img-pdf-cat{
		width: 235px;
		height: 100px;
		position: relative;
		top: -13px;
		left: -9px;
		border-radius: 5px;
		background-image: url(../img/noticia1.png);
		background-position: top center;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	}
	/***END CAT-SECTION***/
/***END SECCION-CATALOGO***/
/***NOTICIAS***/
/*.pager_index{
	margin-right: 15px;
}
#slider-noticias{
	width: 100%;
	max-width: 1300px;
	margin-top: 130px;
	border-bottom: #b9b9b9 !important;
}*/
#all-news{
	max-width: 1206px;
	margin-top: 110px;
	margin-left: 16%;
}
.new_sec_all{
	display: none;
}
.show{
	display: block;
}
.btn_noticias_sec_all{
	float: right;
	margin-top: 40px;
	border-radius: 5px;
	height: 40px;
	width: 200px;
	color: #249EE5;
}
.btn_noticias_sec_ant{
	float: left;
	margin-top: 40px;
	border-radius: 5px;
	height: 40px;
	width: 200px;
	color: #249EE5;
}
.btn_noticias_sec_ant i:hover,
.btn_noticias_sec_all i:hover{
	font-size: 17px;
	cursor: pointer;
}
.noticia-para{
	font-size: 19px;
	padding-left: 4px;
	padding-right: 4px;
	position: relative;
	top: 0px;
	-webkit-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%);
}
.noticia-prev{
	font-size: 12px;
	text-align: center;
	background-color: white;
	float: left;
	width: 342px;
	height: 300px !important;
	margin-top: 80px;
	margin-left: 60px;
	height: 210px;
	border: 1px solid #999;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
}
.img-noticia-prev{
	margin-top: -13px;
	margin-left: -9px;
	width: 350px;
	height: 210px;
	border: 1px solid #c0c0c0;
	background-image: url(../img/noticia1.png);
	background-position: top center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
/***END NOTICIAS***/
/***VISTA***/
	.btn-favoritos-check{	
		background-color: #0683E9;
		height: 30px;
		border-radius: 5px;
		color: white;
		position: relative;
		float: right;
		cursor: pointer;
		margin-top: -35px; 
		margin-right: 10%;
		-webkit-transform: translateY(50%);
	    -ms-transform: translateY(50%);
	    transform: translateY(50%);
	}
	.btn-favoritos-check p{
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		font-weight: bold;
		margin-top: -17px !important;
		margin-right: 10px;
		margin-left: 10px;
	}
	.pdf_nav_controls{
		margin-top:50px;
		width:60%;
		display:block !important;
	}
	.titulo_vista{
		margin-top: -35px;
		margin-left: 0px;	
	}
/***END VISTA***/
@media(max-height: 600px){
	.controls{
		position: absolute;
	}
	.pdf_controls_components{
		margin-top: 0px;
		z-index: 1;
	}
}
@media(max-width: 1700px){
	.img-slider{
		margin-left: -50px;
		margin-right: 80px;
	}
}
@media(max-width: 1550px){
	#pass,
	#old_pass,
	#new_pass,
	#confirm_pass{
		width: 30% !important;
	}
	.input_pass_change{
		margin-left:9%;
	}
	.input_pass_change1{
		margin-left:7%;
	}
}
@media(max-width: 1501px){
	.img-slider{
		margin-left: -150px;
	}
	#all-news{
		margin-left: 6%;
	}
}
@media(max-width: 1401px){
	#all-news{
		margin-left: 5%;
	}
	.btn_pass_change{
		margin-left: 20% !important;
	}
}
@media(max-width: 1300px){
	#pass,
	#old_pass,
	#new_pass,
	#confirm_pass{
		width: 30% !important;
	}
	.input_pass_change{
		font-size: 15px;
		margin-left:1%;
	}
	.input_pass_change1{
		font-size: 15px;
		margin-left:0%;
	}
	.img-slider{
		margin-left: -250px;
	}
	#all-news{
		margin-left: 2%;
	}
}
@media(max-width: 1250px){
	#slider-noticias{
		margin-left: 100px;
	}
	.noticia-prev{
		width: 283px;
		height: 290px !important;
		margin-top: 60px;
		margin-left: 40px;
	}
}
@media(max-width: 1210px){
	/*.noticia-para{
		top: -90px;
	}*/
	#all-news{
		margin-left: 7%;
	}
	.carousel-size{
		width: 900px !important;
	}
	.flecha-carousel{
		margin-top: -50px !important;
	}
	.subseccion{
		height: 252px;
	}
	.nombre-seccion{
		width: 250px;
		height: 250px;
	}
	.contenedor-pdfs{
		float: right;
		height: 250px !important;
		width: 760px;
	}
	#next_btn5,
	#next_btn1,
	#next_btn3,
	#next_btn4{
		right: 150px;
	}
	.carousel-size{
		height: 250px;
		width: 970px;
	}
	.pdf-prev,
	.pdf-prev-mob{
		width: 180px;
		height: 220px !important;
	}
	.img-pdf-prev{
		width: 212px;
		height: 110px;
	}
	.pdf-para,
	.pdf-para-mob{
		font-size: 13px;
		top: -110px;
	}
	.btn-consulta-pdf,
	.btn-consulta-pdf-mob{
		margin-top: 75px;
	}
}
@media(max-width: 1200px){
	.img-slider{
		margin-left: -300px;
	}
	.practicas-background-cat{
		height: 500px !important;
	}
}
@media(max-width: 1100px){
	#all-news{
		margin-left: 5%;
	}
	.place-carousel{
		width: 1000px;
		margin-left: -40px;
	}
	.img-slider{
		margin-left: -300px;
	}
}
@media(max-width: 1050px){
	.place-carousel{
		width: 1000px;
		margin-left: -100px;
	}
	#all-news{
		margin-left: 3%;
	}
}
@media(max-width: 1030px){
	#all-news{
		margin-left: 1%;
	}
}
@media(max-width: 1000px){
	.pdf_nav_controls{
		width: 450px !important;
		margin-top: 20px !important;
		height: 35px;
	}
	.recu_contra,
	.rest_contra{
		position: absolute;
		top: -160px !important;
	}
	.btn_pass_prev{
		position: relative;
		float: left;
		margin-left: 45% !important;
		margin-top: 30px !important;
	}
	.input_pass_prev{
		margin-left: 10% !important;
		width: 80% !important;
	}
	.text_change_pass2{
		margin-left: 37%;
	}
	.text_change_pass1{
		width: 60%;
		margin-left: 42%;
	}
	.text_change_pass{
		margin-left: 45%;
		width: 60%;
	}
	.rest_contra_change{
		position: absolute;
		width: 60% !important;
		height: 350px !important;
		top: -10%;
	}
	#pass,
	#old_pass,
	#new_pass,
	#confirm_pass{
		margin-left: 10% !important;
		width: 80% !important;
	}
	.btn_pass_change{
		margin-top: 10px !important;
		margin-left: 40% !important;
	}
	.input_pass_change,
	.input_pass_change1{
		width: 60% !important;
		margin-left: 40%;
	}
	.controls{
		top: 50px;
	}
	.controls p{
		-webkit-transform: translateY(75%);
	    -ms-transform: translateY(75%);
	    transform: translateY(75%);
	}
	#btn_fav_agrega,
	#btn_fav_elimina{
		-webkit-transform: translateY(60%);
	    -ms-transform: translateY(60%);
	    transform: translateY(60%);
	}
	#portal-name-pdf{
		width: 165px;
		float: left;
		margin-left: 20px;
		border: 0px;
		-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	}
	#perfil_mobil{
		display: block;
		text-align: center
	}
	#perfil_mobil #perfil-right-mob{
		width: 100%;
	}
	#perfil_mobil #perfil-left-mob{
		padding-left: 41%;
	}
	#perfil_desck{
		display: none;
	}
	#section-cronicas-mobil{
		display: block;
	}
	#body_nom_cronicas,
	#body_nom_materna,
	#body_nom_ninez,
	#body_nom_infecciosas,
	.practicas-background-cat{
		display: none !important;
	}
	.img-pdf-prev-mob{
		width: 104% !important;
	}
	.nombre-seccion-mobil{
		margin-bottom: 10% !important;
	}
}
@media(max-width: 900px){
	
	#perfil_mobil #perfil-left-mob{
		padding-left: 40%;
	}
	.titulo_vista{
		height: 45px !important;
		overflow: hidden !important;
	}
}
@media(max-width: 860px){	
	#btn_fav_agrega,
	#btn_fav_elimina{
		-webkit-transform: translateY(80%);
	    -ms-transform: translateY(80%);
	    transform: translateY(80%);
	}
	.titulo_vista{
		margin-top: -35px !important;
		width: 60% !important;
		overflow: hidden !important;
	}
}
@media(max-width: 800px){
	#perfil_mobil #perfil-left-mob{
		padding-left: 38%;
	}
}
@media(max-width: 650px){
	.recu_contra,
	.rest_contra{
		width: 90% !important;
		margin-left: 5% !important;
	}
	.controls p{
		font-size: 15px;
	}
	#btn_fav_agrega p,
	#btn_fav_elimina p{
		-webkit-transform: translateY(100%);
	    -ms-transform: translateY(100%);
	    transform: translateY(100%);
	}
	#perfil_mobil #perfil-left-mob{
		padding-left: 36%;
	}
}
@media(max-width: 677px){
	#pre_pass,
	#post_pass,
	#pre_pass_change,
	#post_pass_change{
		font-size: 22px;
	}
	.rest_contra_change{
		top: -180px !important;
		height: 420px !important;
	}
}
@media(max-width: 600px){
	.input_pass_change,
	.input_pass_change1{
		margin-left: 30%;
	}
	#perfil_mobil #perfil-left-mob{
		padding-left: 34%;
	}
	.img-pdf-prev-mob{
		width: 109% !important;
	}
	#catalogo-maestro div{
		position: relative;
		top: -85px;
		height: 450px;
	}
}
@media(max-width: 550px){
	.btn_pass_prev{
		margin-left: 38% !important;
	}
	.text_change_pass2{
		margin-left: 27%;
	}
	.text_change_pass1{
		margin-left: 32%;
	}
	.text_change_pass{
		margin-left: 35%;
	}
	#logo-foot-mob{
		padding-left: 10%;
	}
	#perfil_mobil #perfil-left-mob{
		padding-left: 32%;
	}
	#form-fav-delete{
		-webkit-transform: translateY(50%);
	    -ms-transform: translateY(50%);
	    transform: translateY(50%);
	}
	#btn_fav_agrega,
	#btn_fav_elimina{
		margin-right: 40%;
		-webkit-transform: translateY(160%);
	    -ms-transform: translateY(160%);
	    transform: translateY(160%);
	}
	.titulo_vista{
		display: none;
	}
}
@media(max-width: 450px){
	.input_pass_change,
	.input_pass_change1{
		margin-left: 20%;
	}
	#perfil_mobil #perfil-left-mob{
		padding-left: 28%;
	}
	#catalogo-maestro div{
		position: relative;
		top: -120px;
		height: 400px;
	}
}
@media(max-width: 400px){
	.text_change_pass2,
	.text_change_pass1,
	.text_change_pass{
		font-size: 17px;
	}
	.text_change_pass2{
		margin-left: 20% !important;
	}
	.rest_contra_change{
		width: 98% !important;
		margin-left: 1% !important;
	}
	.input_pass_change,
	.input_pass_change1{
		width: 70% !important;
		margin-left: 30%;
	}
	#logo-foot-mob{
		padding-left: 17%;
	}
	#perfil_mobil #perfil-left-mob{
		padding-left: 25%;
	}
	.pdf-prev-mob{
		height: 230px !important;
	}
	.btn-consulta-pdf-mob{
		margin-top: 110px;
	}
	.pdf-para-mob{
		top: -140px;
	}
	.img-pdf-prev-mob{
		height: 80px;
	}
	#btn_fav_agrega,
	#btn_fav_elimina{
		margin-right: 35%;
	}
}
@media(max-width: 350px){
	#perfil_mobil #perfil-left-mob{
		padding-left: 21%;
	}
	#catalogo-maestro div{
		top: -100px;
	}
	.nombre-seccion-mobil{
		margin-bottom: 40px !important;
	}
}